html, body {
    margin: 0;
    height: 100%;
}

.container {
    background-color: #d4ffe8;
    height: 100%;
    border-radius: 15px;
}

.navbar {
    background-color: #53bdff !important;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.nav-link, .navbar-text {
    font-family: "Roboto Light";
    margin: 50px 50px 50px 50px;
    text-transform: uppercase;
    border-radius: 7px;
    font-weight: 700;
    letter-spacing: 0.04em;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.428571429;
}

div {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
}

.logo {
    margin: auto auto auto 20px;
    cursor: pointer;
}